*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  /* margin-right: 5px; */
}

div#enterprise {
    float: right;
    padding: 0;
    margin-right: 0;
}

div#smbd {
    float: left;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type=text], input[type=password], input[type=date], input[type=datetime], input[type=email], input[type=number], input[type=search], input[type=tel], input[type=time], input[type=url], textarea, select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 20px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 8px;
  width: 100%;
  background-color: #e8eeef;
  color: black;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 25px;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #ff9800;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #ff9800;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  /* margin-bottom: 8px; */
  /* margin-left: 10px; */
}

label.light {
  font-weight: 300;
  display: inline;
}

/*.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
*/
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }
}

/* hide input */
input.radio:empty {
	margin-left: -9999px;
}

input.radio ~ label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	line-height: 2.5em;
	text-indent: 3.25em;
	/* margin-top: 2em; */
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: '';
	width: 2.5em;
	background: #D1D3D4;
	border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: black;
}

input.radio:hover:not(:checked) ~ label {
	color: black;
}

/* toggle on */
input.radio:checked ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: black;
	background-color: #ff9800;
}

input.radio:checked ~ label {
	color: black;
}

/* radio focus */
input.radio:focus ~ label:before {
	box-shadow: 0 0 0 1px black;
}

div#radiocontainer {
    width: 100%;
    margin-bottom: 50px;
}

/*
 * Checkbox
 */
#cloud {
	width: 40px;
	height: 40px;
	background: black;
	/* margin: 20px 90px; */
	border-radius: 100%;
	/* position: relative; */
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

#cloud {
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	transition: all .5s ease;
	cursor: pointer;
	/* position: absolute; */
	top: 12px;
	/* left: 5px; */
	z-index: 1;
	background: black;
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}

label[for=cloud] {position: relative;margin-left: 40px;top: -12px;}

#cloud input[type=checkbox]:checked + label[for=cloud] {
	background: #ff9800;
	background-color:black;
}
